@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h3>Запрос на трансфер</h3>
        <form method="post" action="">
            <input type="hidden" value="@ViewBag.PlayerId" name="PlayerId" />
            <p>Название клуба </p>
            <input type="text" name="TransferTeam" />
            <input type="submit" value="Отправить" />
            
        </form>

       
    </div>
