@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}


    <div>
        <h3>Transfer list</h3>
        <table>
            <tr>
                <td><p>Players</p></td>
                <td><p>Team</p></td>
                <td><p>Price</p></td>
                <td></td>
            </tr>
            @foreach (var b in ViewBag.Books)
            {
                <tr>
                    <td><p>@b.Name</p></td>
                    <td><p>@b.Team</p></td>
                    <td><p>@b.Price</p></td>
                    <td><p><a href="/Home/Buy/@b.Id">Buy Player</a></p></td>
                </tr>
            }
        </table>
    </div>

